/* reset browser styles */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset browser styles */




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0 30px ;
    width: 1200px;
}

.right {
    display: flex;
    flex-direction: column;
}

.header-links {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.header-links a {
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-size: 18px;
}

.searchbar input {
    border: medium none;
    padding: 15px 10px;
    margin-right: 15px;
    font-size: 18px;
    width: 405px;
}

.searchbar button {
    font-size: 18px;
    background-color: #0065a6;
    color: white;
    padding: 13px 30px;
    border: none;
}

nav {
    background-color: #0065a6;
    width: 100%;
    display: flex; 
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1200px;
    height: 64px;
    margin: 0;
    padding-left: 0;
}

nav li {
    padding: 12px 15px 12px 24px;
}

main {
    padding: 20px 0 20px;
    width: 1200px;
    margin: auto;
}

section {
    margin-top: 15px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bannertext {
    position: absolute;
    right: 20px;
    bottom: 60px;
    background: #fffe;
    padding: 15px 40px 15px 15px;
    max-width: 500px;
}

.bannertext h4 {
    color: rgb(0, 101, 166);
    font-size: 20px;
    padding-bottom: 10px;
}

.bannertext .arrows {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    gap: 45px;
}

.bannertext .arrows span {
    font-size: 30px;
    color: rgb(0, 101, 166);
}

.bannertext p {
    line-height: 25px;
    color: rgb(83, 83, 83);
}

.info-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card {
    background: white;
    text-align: center;
    flex: 1;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card p {
    font-size: 18px;
    color: rgb(0, 101, 166);
    padding: 10px 20px 20px 11px;
}





.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-sizing: border-box;
    color: rgb(83, 83, 83);
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.feedback a {
    color: #0065a6;
    text-decoration: none;
    padding-right: 20px;
}

.feedback button {
    background: #0065a6;
    color: white;
    padding: 13px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

footer {
    background: #0065a6;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    gap: 220px;
}

.footer-content div {
    flex: 1;
}

.footer-content h3 {
    padding-bottom: 10px;
    font-size: 26px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
}

.footer-content ul li {
    margin: 5px 0;
}